<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col">
		  	<p>&copy 2022 Gear Up 12499.</p>
			<p>Instagram: <a href="https://www.instagram.com/gearup_12499/">@gearup_12499</a></p>
			<p>Located in San Diego, CA</p>
        	<p>We are part of the <a href="https://www.firstinspires.org/robotics/ftc">FIRST Tech Challenge</a>.</p>
		</div>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
